@media screen and (max-width: 768px) {
  #cases {
    .slick-slider {
      width: 60vw;
      height: auto;
      margin: 0 auto;
      img {
        object-fit: cover;
      }
    }
    .case {
      position: relative;
      &_top {
        &_right {
          .circle:before {
            top: -5vw;
            left: 6vw;
          }
          .h3_index {
            font-size: 32px;
            padding-left: 50px;
            &:after {
              content: none;
            }
          }
          h5 {
            margin-bottom: 50px;
            padding: 0 30px 0 50px;
            font-size: 16px;
            font-weight: normal;
            letter-spacing: .2em;
          }
          p {
            width: 82%;
            margin: 0 auto 50px auto;
            line-height: 30px;
            font-size: 14px;
            letter-spacing: .2em;
          }
        }
        &_left {
          width: 80%;
          margin: 0 auto 15vw auto;
          position: relative;
          @include px480() {
            margin: 0 auto 50px auto;
          }
          &:after {
            content: '';
            display: inline-block;
            background-image: url(../img/bg_navydot.png);
            background-size: 100%;
            position: absolute;
            width: 40vw;
            height: 28vw;
            z-index: -1;
            bottom: -10vw;
            left: -10vw;
          } 
        }
      }
      &_bottom {
        margin-bottom: 200px;
        position: relative;
        @media screen and (min-width: 540px) {
          margin-bottom: 300px;
        }
        &:after {
          content: '';
          display: inline-block;
          margin: 0 calc(50% - 50vw);
          width: 100vw;
          height: 40vw;
          background-color: $gray-color;
          position: absolute;
          bottom: -23vw;
          right: 0;
          z-index: -5;    
        }
      }
    }
  }

} 
@media screen and (min-width: 769px) {
  #cases {
    .case {
      height: 87vw;
      padding: 100px 0 0 0;
      position: relative;
      @include px1000() {
        height: 82vw;
      }
      &_top {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        position: relative;
        height: 45vw;
        &_right {
          width: 41%;
          position: absolute;
          right: 0;
          padding-right: 10vw;
          @include px1000() {
            padding-right: 5vw;
          }
          .h3_index {
            padding: 2.5vw 0 0 0;
            &:after {
              display: none;
            }
          }
          .circle:before {
            top: -2vw;
            left: -9vw;
            @include px768() {
              left: 3vw;
            }
          }
          h5 {
            @include fz_vw(18);
            font-weight: 500;
            padding-bottom: 1.2vw;
            margin: 2.5vw 0 2vw 0;
            letter-spacing: .24em;
            @include px1440() {
              font-size: 18px;
            }
          }
          p {
            @include fz_vw(14);
            font-weight: 500;
            letter-spacing: .25em;
            padding-right: 5vw;
            line-height: 2.2vw;
            @include px1440() {
              font-size: 14px;
              line-height: 30px;
            }
            @include px1280() {
              padding-right: 0;
              line-height: 30px;
            }
          }
        }
        &_left {
          width: 39%;
          position: absolute;
          top: 5vw;
          left: 13vw;
          &:after {
            content: '';
            display: inline-block;
            background-image: url(../img/bg_navydot.png);
            background-size: 100%;
            position: absolute;
            width: 26vw;
            height: 16vw;
            z-index: -1;
            bottom: -6vw;
            left: -6vw;
          }
          &_img {
            width: 100%;
            object-fit: cover;
          }
          
        }
      }
      &_bottom {
        width: 100%;
        height: auto;
        padding: 0 10%;
        display: flex;
        align-items: flex-start;
        position: relative;
        &_img {
          width: 33%;
          padding: 0 3vw;
          &02 {
            position: relative;
            top: 3.4vw;
          }
          &03 {
            position: relative;
            top: 6.8vw;   
          }
        }
        &:after {
          content: '';
          display: inline-block;
          width: 100%;
          height: 22vw;
          background-color: $gray-color;
          position: absolute;
          bottom: -17.2vw;
          right: 0;
          z-index: -5;
          @include px1000() {
            height: 22vw;
          }
        }  
      }
    }
    .case02, .case03 {
      padding: 140px 0 0 0;
      height: 92vw;
      @media screen and (max-width: 864px) {
        height: 100vw;
      }
      .case_top {
        @include px1000() {
          height: 46vw;
        }
        @media screen and (max-width: 864px) {
          height: 56vw;
        }
      }
      .outline {
        bottom: 48vw;
        @include px1000() {
          bottom: 30vw;
        }
      }
    }
    .case03 {
      padding: 120px 0 0 0;
      height: 82vw;
      @media screen and (max-width: 864px) {
        height: 90vw;
      }
      h5 {
        letter-spacing: .12em;
      }
      .outline {
        bottom: 35vw;
        @include px1000() {
          bottom: 20vw;
        }
      }
    }
    .contact {
      padding-top: 50px;
    }
  }
}