/*----------ヘッダー------------*/
.header {
  width: $contents-pc;
  margin: 0 auto;
  padding: 1.8vw 0 2.8vw 0;
  @include px768() {
    padding: 1.8vw 0 5.5vw 0;
  }
  &_top {
    @include px768() {
      padding-top: 2.4vw;
    }
    p {
      @include fz_vw(15);
      letter-spacing: 0.1em;
      @include px1280() {
        font-size: 14px;
      }
      @include px768() {
        display: none;
      }
    }
  }
  &_bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 0 7.6vw 0 7.4vw;
    @include px1000() {
      padding: 0 3vw;
    }
    &_logo {
      width: 17%;
      @include px1366() {
        width: 20%;
      }
      @include px768() {
        width: 25%;
      }
      @include px540() {
        width: 22%;
        margin-top: 10px;
      }
      @include px413() {
        width: 30%;
      }
    }
  }
}