/*----------メインビジュアル------------*/
.mv {
  width: 100%;
  height: 44.3vw;
  margin-bottom: 10vw;
  position: relative;
  @include px1000() {
    height: 48vw;
  }
  @include px768() {
    height: 535px;
    margin-bottom: 112px;
  }
  &_img {
    width: 76%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    @include px1000() {
      width: 84%;
    }
    @include px540() {
      width: 430px;
      left: 21%;
      overflow: hidden;
    }
  }
  &_back {  // 紺背景
    width: 80vw;
    height: 33.2vw;
    background-color: $naivy-color;
    position: absolute;
    top: 5.8vw;
    left: 0;
    z-index: -1;
    @include px1000() {
      height: 38vw;
    }
    @include px768() {
      width: 73vw;
      height: 460px;
      top: 40px;
    }
  }
  &:after {  // ドット
    content: '';
    display: inline-block;
    background-image: url(../img/bg_navydot.png);
    background-size: 82%;
    position: absolute;
    bottom: 0;
    right: 5.5vw;
    width: 32vw;
    height: 18vw;
    z-index: -2;
    @include px1000() {
      width: 28vw;
      right: 10vw;
    }
    @include px768() {
      width: 180px;
      height: 180px;
      right: 14vw;
      background-size: 120%;
    }
  }
}
#top {
  .pc_MV {
    @include px768() {
      display: none;
    }
  }
  .sp_MV {
    display: none;
    @include px768() {
      object-fit: cover;
      display: block;
      height: 456px;
    }
    @include px540() {
      width: 100%;
      object-position: 75% 100%;
      transform: translateY(15px) scale(1.2);
    }
  }
}
#services, #cases, #company {
  .mv {
    margin-bottom: 11vw;
    @include px768() {
      margin-bottom: 100px;
    }
    @include px413() {
      margin-bottom: 80px;
    }
    .pc_MV {
      @include px768() {
        height: 456px;
        object-fit: cover;
        object-position: 50% 100%;
      }
    }
  }
}
#cases {
  .mv {
    @include px540() {
      margin-bottom: 60px;
    }
  }
}
#company {
  .mv {
    margin-bottom: 12vw;
    @include px768() {
      margin-bottom: 120px;
      .pc_MV {
        @include px768() {
          object-position: 90% 100%;
        }
      }
    }
  }
}