/*-----------キャッチコピー------------*/
.mv_catchcopy {
  @include fz_vw(48);
  color: $white-color;
  font-weight: bold;
  position: absolute;
  letter-spacing: .07em;
  line-height: 1.6;
  top: 19.8vw;
  left: 9vw;
  z-index: 2;
  @include px1000() {
    @include fz_vw(58);
    top: 22vw;
  }
  @include px768() {
    font-size: 38px;
    top: 270px;
    line-height: 1.5;
  }
  @include px540() {
    font-size: 32px;
    top: 310px;
    left: 11vw;
  }
  .cc_br {
    display: none;
    @include px768() {
      display: block;
    }
  }
  &:before {  //黄色の丸（小）
    content: '';
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 50%;
    display: inline-block;
    background-color: $yellow-color;
    position: absolute;
    top: -1.2vw;
    left: -1.2vw;
    @include px768() {
      width: 12px;
      height: 12px;
    }
    @include px540() {
      width: 16px;
      height: 16px;
      top: -3vw;
      left: -3.5vw;
    }
  }
}
#services, #cases, #company {
  .mv_catchcopy {
    top: 19vw;
    left: 13.5vw;
    letter-spacing: 0.1em;
    @include px1000() {
      left: 9vw;
    }
    @include px768() {
      top: 300px;
    }
    @include px540() {
      top: 315px;
      left: 11.5vw;
    }
  }
}
#cases {
  .mv_catchcopy {
    top: 18vw;
    @include px768() {
      top: 260px;
    }
    @include px540() {
      top: 315px;
    }
    &_sub {
      @include fz_vw(23);
      color: $white-color;
      font-weight: bold;
      position: absolute;
      letter-spacing: .15em;
      line-height: 1.8;
      top: 24.5vw;
      left: 13.5vw;
      z-index: 2;
      @include px1000() {
        @include fz_vw(33);
        left: 9vw;
        top: 25.5vw;
      }  
      @include px768() {
        font-size: 18px;
        top: 330px;
      }
      @include px540() {
        top: 370px;
        left: 11.5vw;
      }  
    }
  }
}
  