/*----------ナビ------------*/
.nav {
  .menu {
    display: flex;
    padding-bottom: .3vw;
    &_list {
      padding-left: 3.4vw;
      a {
        color: $black-color;
        @include fz_vw(17);
        letter-spacing: 0.14em;
        font-weight: bold;
        @include px1366() {
          font-size: 16px;
        }
        @include px1000() {
          font-size: 14px;
        }
      }
    }
  }
  @include px540() {
    margin: 0 calc(50% - 50vw);
    width: 100vw;
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    background-color: $naivy-color;
    .menu {
      width: 100%;
      justify-content:space-between; 
      &_list {
        text-align: center;
        padding-left: 0;
        width: 25%;
        border: 1px solid $white-color;
        a {
          color: $white-color;
          padding: 10px 0;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }
  .sp_icon {
    display: none;
    @include px540() {
      display: block;
      width: 35px;
      margin: 0 auto 10px auto;
    }
    @include px413 {
      width: 25px;
    }
  }
}