/*==========================================
  トップページ
==========================================*/
#top {
  width: 100%;
  /*---------BeTwinについて----------*/
  .services {
    position: relative;
    width: 100%;
    height: 62vw;  
    margin-bottom: 10.8vw;
    @include px1000() {
      height: 67vw;
    }
    @include px768() {
      height: 700px;
      margin-bottom: 75px;
    }
    .dott {
      &:before {
        opacity: .1;
      }
    }
    &_contents {
      width: 75%;
      margin: 18.5vw auto 0 auto;
      padding: 8.3vw 0 8.1vw 0;
      text-align: center;
      background-image: url(../img/about_bgimage.png);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 150%;
      position: relative;
      @include px1280() {
        width: 768px;
      }
      @include px768() {
        width: 100%;
        padding: 100px 0;
        background-size: cover;
      }
      @include px540() {
        height: 645px;
        padding: 90px 0;
      }
      &_text {
        @include fz_vw(17);
        font-weight: bold;
        letter-spacing: 0.26em;
        line-height: 2.35;
        margin: 3vw 0 6.3vw 0;
        &:nth-of-type(2) {
          margin: 2vw 0 7.7vw 0;
        }
        @include px1366() {
          font-size: 16px;
        }
        @include px1280() {
          margin: 2vw 0 6vw 0;
        }
        @include px1000() {
          margin: 2vw 0 5.5vw 0;
        }
        @include px768() {
          line-height: 30px;
          margin: 20px 0 60px 0;
          &:nth-of-type(2) {
            margin: 15px 0 70px 0;
          }
        }
        @include px540() {
          font-size: 14px;
          letter-spacing: 0.2em;
          margin: 20px 0 70px 0;
          &:nth-of-type(2) {
            margin: 20px 0 30px 0;
          }
        }
        @include px340() {
          letter-spacing: 0.1em;
        }
        .sc_br {
          display: none;
          @include px768() {
            display: block;
          }
        }
      }
    }
    .outline {
      position: absolute;
      top: -9.6vw;
      right: -1vw;
      z-index: 10;
      @include px768() {
        top: -75px;
      }
      @include px540() {
        top: -54px;
      }
      @include px413() {
        top: -45px;
      }
    }
    .circle:before {
      top: -5.2vw;
      right: 5.8vw;
      z-index: 2;
      @include px768() {
        top: -60px;
      }
      @include px540() {
        top: -9vw;
        right: 2.2vw;
      }
    }
  }
}
/*==========================================
  事業内容ページ
==========================================*/
#services {
  .h3_index:after {
    width: 12vw;
    @include px540() {
      width: 100px;
    }
  }
  .intro {
    text-align: center;
    margin-bottom: 8.3vw;
    @include px768() {
      width: 90%;
      margin: 0 auto 80px auto;
    }
    p {
      @include fz_vw(18);
      font-weight: bold;
      letter-spacing: 0.2em;
      line-height: 60px;  
      @include px1280() {
        font-size: 16px;
      }
      @include px540() {
        font-size: 14px;
        letter-spacing: 0.1em;
        line-height: 30px;
      }
      .br2 {
        display: none;
        @include px768() {
          display: block;
        }
        @include px413() {
          display: none;
        }
      }
    }
  }
  .design, .office {
    position: relative;
    &:before {
      content: '';
      display: inline-block;
      background-image: url(../img/bg_navydot.png);
      background-size: 100%;
      position: absolute;
      width: 26vw;
      height: 16vw;
      top: 5vw;
      z-index: -10;
      opacity: .1;
      @include px768() {
        width: 180px;
        height: 120px;
      }
      @include px540() {
        width: 160px;
        height: 100px;
      }
    }
    .outline {
      position: absolute;
      right: -.9vw;
    }
    .h3_index {
      position: absolute;
    }
    p {
      position: absolute;
      top: 23.8vw;
      left: 22.5vw;
      padding-right: 50px;
      line-height: 1.6;
      @include fz_vw(14);
      letter-spacing: 0.2em;
      @include px1440() {
        font-size: 14px;
      }
      @include px768() {
        top: 220px;
      }
      @include px540() {
        top: 200px;
        left: 135px;
        padding-right: 30px;
      }
      @include px413() {
        left: 120px;
      }
      @include px340() {
        left: 100px;
      }
      br {
        display: none;
      }
    }
    .circle:before {
      position: absolute;
    }
    .img_wrap {
      width: 100%;
      position: absolute;
      top: 15vw;
      padding: 15vw 13vw 5vw 13vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      height: auto;
      align-items: flex-start;
      @include px1000() {
        padding: 16vw 13vw 5vw 13vw;
      }
      @include px768() {
        width: 500px;
        margin: 0 auto;
        padding: 300px 0 50px 0;
        position: static;
      }
      @include px540() {
        width: 380px;
      }
      @include px480() {
        width: 320px;
      }
      @include px413() {
        width: 300px;
        padding: 310px 0 50px 0;
      }
      @include px340() {
        width: 280px;
        padding: 325px 0 50px 0;
      }
      img {
        width: 30%;
        @include px768() {
          width: 230px;
          margin-bottom: 20px;
        }
        @include px540() {
          width: 380px;
        }
        @include px480() {
          width: 320px;
          margin-bottom: 30px;
        }
        @include px413() {
          width: 300px;
        }
        @include px340() {
          width: 280px;
        }  
      }
    }
    .gray_bg {
      background-color: $gray-color;
      position: absolute;
      right: 0;
      top: 9.8vw;
      width: 79%;
      z-index: -5;
      @include px768() {
        top: 77px;
      }
      @include px540() {
        top: 54px;
      }
      @include px413() {
        top: 48px;
      }
    }
  }
  .design {
    height: 60vw;
    margin-bottom: 4.5vw;
    @include px768() {
      height: 850px;
    }
    @include px540() {
      height: 1400px;
    }
    @include px480() {
      height: 1260px;
    }
    @include px413() {
      height: 1220px;
    }
    &:before {
      left: 5vw;
    }
    .h3_index {
      top: 16.5vw;
      left: 13.5vw;
      @include px768() {
        top: 140px;
      }
      @include px540() {
        top: 120px;
      }
    }
    .circle:before {
      top: -4vw;
      left: -8vw;
    }
    .gray_bg {
      height: 45vw;
      @include px768() {
        height: 680px;
      }
      @include px540() {
        height: 1280px;
      }
      @include px480() {
        height: 1150px;
      }
      @include px413() {
        height: 1100px;
      }
      @include px340() {
        height: 1080px;
      }
    }
  }
  .office {
    height: 71vw;
    margin-bottom: 5vw;
    text-align: center;
    @include px768() {
      height: 900px;
    }
    @include px540() {
      height: 1360px;
      margin-bottom: 100px;
    }
    @include px480() {
      height: 1250px;
    }
    @include px413() {
      height: 1200px;
    }
    @include px340() {
      height: 1190px;
    }
    &:before {
      right: 5vw;
    }
    .h3_index {
      top: 17vw;
      right: 13vw;
      @include px768() {
        top: 150px;
      }
      @include px540() {
        top: 120px;
      }
      @include px480() {
        line-height: 1.2;
        text-align: right;
      }
      br {
        display: none;
        @include px480() {
          display: block;
        }
      }
    }
    .outline {
      left: -.8vw;
    }
    .circle:before {
      top: -4vw;
      right: -7vw;
    }
    .img_wrap {
      @include px768() {
        padding: 260px 0 50px 0;
      }
      @include px540() {
        padding: 220px 0 50px 0;
      }
      @include px480() {
        padding: 265px 0 40px 0;
      }
    }
    .gray_bg {
      left: 0;
      height: 54vw;
      @include px768() {
        height: 770px;
      }
      @include px540() {
        height: 1260px;
      }
      @include px480() {
        height: 1170px;
      }
      @include px413() {
        height: 1130px;
      }
      @include px340() {
        height: 1090px;
      }
    }
    .btn {
      position: relative;
      bottom: -55vw;
      @include px768() {
        bottom: 0;
      }
      @include px540() {
        bottom: 20px;
      }
      @include px480() {
        bottom: 25px;
      }
    }
  }
}