/*---------施工事例----------*/
#top {
  .cases {
    width: 100%;
    height: 62vw;
    position: relative;
    @include px1000() {
      height: 71vw;
    }
    @include px768() {
      height: 1660px;
    }
    @include px540() {
      height: 1620px;
    }
    @include px413() {
      height: 1480px;
    }
    .outline {
      position: absolute;
      top: 1.5vw;
      right: -0.9vw;
      @include px768() {
        top: 45px;
      }
      @include px540() {
        top: 45px;
      }
      @include px413() {
        top: 56px;
      }
    }
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 29vw;
      background-color: $gray-color;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -5;
      @include px1000() {
        height: 37vw;
      }
      @include px768() {
        width: 61vw;
        right: 0;
        top: 220px;
        height: 1448px;
      }
      @include px540() {
        width: 68vw;
        height: 1430px;
        top: 180px;
      }
      @include px413() {
        height: 1300px;
      }
    }
    &_contents {
      position: relative;
      .h2_index {
        position: absolute;
        top: 6vw;
        left: 14.4vw;
        @include px540() {
          left: 13vw;
        }
        @include px413() {
          top: 7vw;
          left: 10vw;
        }
        &:after {
          margin-top: 20px;
        }
      }
      .circle:before {
        position: absolute;
        top: -4vw;
        left: -9vw;
        @include px540() {
          top: -6vw;
          left: -5vw;
        }
      }
    }
  }
}
