//カラー
$naivy-color: #141f50;
$yellow-color: #fff579;
$black-color: #333;
$white-color: #fff;

//コンテンツ幅
$contents-pc: 90%;
$contents-sp: 95%;

//フォントサイズ
// 第一引数で基準となる画面幅のフォントサイズ、第二引数で基準となる画面幅を入力
@function get_vw($size, $viewport:1440){
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}

@mixin fz_vw($font_size:10){
  font-size: $font_size * 1px;
  font-size: get_vw($font_size);
}