@charset "UTF-8";
/* リセットCSS */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

article, header, footer, aside, figure, figcaption, nav, section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

/*==========================================
  共通
==========================================*/
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: #333;
  font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
}

a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
}

/*----------ヘッダー------------*/
.header {
  width: 90%;
  margin: 0 auto;
  padding: 2vw 0 3vw 0;
}

.header_top p {
  font-size: 15px;
  font-size: 1.04167vw;
  letter-spacing: 0.1em;
}

.header_bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0 7.2vw;
}

.header_bottom_logo {
  width: 17%;
}

/*----------ナビ------------*/
.nav .menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav .menu_list {
  padding-left: 3.4vw;
}

.nav .menu_list a {
  color: #333;
  font-size: 17px;
  font-size: 1.18056vw;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/*----------メインビジュアル------------*/
.mv {
  width: 100%;
  height: 44vw;
  margin-bottom: 10vw;
  position: relative;
  /*-----------キャッチコピー------------*/
}

.mv_img {
  width: 76%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.mv_back {
  width: 80vw;
  height: 33vw;
  background-color: #141f50;
  position: absolute;
  top: 5.8vw;
  left: 0;
  z-index: -1;
}

.mv:after {
  content: '';
  display: inline-block;
  background-image: url(../img/bg_navydot.png);
  background-size: 82%;
  position: absolute;
  bottom: 0;
  right: 5.5vw;
  width: 32vw;
  height: 18vw;
  z-index: -2;
}

.mv_catchcopy {
  font-size: 48px;
  font-size: 3.33333vw;
  color: #fff;
  font-weight: bold;
  position: absolute;
  letter-spacing: .07em;
  line-height: 1.6;
  top: 19.8vw;
  left: 9vw;
  z-index: 2;
}

.mv_catchcopy:before {
  content: '';
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50%;
  display: inline-block;
  background-color: #fff579;
  position: absolute;
  top: -1.2vw;
  left: -1.2vw;
}

/*----------見出し（中抜き）------------*/
.outline {
  display: inline-block;
  color: transparent;
  font-size: 202px;
  font-size: 14.02778vw;
  font-weight: bold;
  -webkit-text-stroke: 1px #aaa;
}

/*----------丸（黄色）------------*/
.circle:before {
  content: '';
  display: inline-block;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: #fff579;
  position: absolute;
  z-index: -1;
}

/*----------水玉の飾り------------*/
.dott:before, .dott:after {
  content: '';
  display: inline-block;
  background-image: url(../img/bg_navydot.png);
  background-size: 100%;
  position: absolute;
  width: 26vw;
  height: 16vw;
  z-index: -1;
}

.dott:before {
  top: -5vw;
  left: -7vw;
}

.dott:after {
  bottom: -5vw;
  right: -7vw;
}

/*---------h2見出し------------*/
.h2_index {
  color: #141f50;
  font-size: 48px;
  font-size: 3.33333vw;
  font-weight: bold;
  letter-spacing: 0.1em;
  display: inline-block;
}

.h2_index:after {
  content: '';
  display: block;
  width: 11vw;
  height: 1px;
  background-color: #141f50;
  margin: 3vw auto 0 auto;
}

/*---------h3見出し------------*/
.h3_index {
  color: #141f50;
  font-size: 38px;
  font-size: 2.63889vw;
  font-weight: bold;
  letter-spacing: 0.1em;
  display: inline-block;
}

.h3_index:after {
  content: '';
  display: block;
  width: 6vw;
  height: 1px;
  background-color: #141f50;
  margin: 1.8vw auto 0 auto;
}

/*---------h4見出し------------*/
.h4_index {
  color: #141f50;
  font-size: 23px;
  font-size: 1.59722vw;
  font-weight: bold;
  letter-spacing: 0.25em;
}

.h4_index:after {
  content: '';
  margin: 2vw auto 0 auto;
  display: block;
  width: 6vw;
  height: 1px;
  background-color: #141f50;
}

/*---------お問い合わせ----------*/
.contact {
  padding: 15vw 0;
}

.contact .dott:before {
  top: -3vw;
}

.contact .dott:after {
  opacity: .1;
  bottom: -3vw;
}

.contact_contents {
  width: 75%;
  margin: 0 auto;
  padding: 5vw 7vw 5vw 8vw;
  background-color: #f5f5f5;
  text-align: center;
  position: relative;
}

.contact_wrap {
  margin-top: 5vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact_wrap_tel, .contact_wrap_fax {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_wrap_tel img, .contact_wrap_fax img {
  width: 4.5vw;
  height: 4.5vw;
  margin-right: 1.8vw;
}

.contact_wrap_tel_index, .contact_wrap_fax_index {
  font-size: 18px;
  font-size: 1.25vw;
  font-weight: bold;
  letter-spacing: .15em;
  margin-bottom: 1vw;
}

.contact_wrap_tel_num, .contact_wrap_fax_num {
  font-size: 34px;
  font-size: 2.36111vw;
  font-weight: bold;
  letter-spacing: .1em;
}

/*==========================================
  トップページ
==========================================*/
#top {
  /*---------BeTwinについて----------*/
  /*---------施工事例----------*/
}

#top .services {
  position: relative;
  width: 100%;
  height: 62vw;
  margin-bottom: 10vw;
}

#top .services .dott:before {
  opacity: .1;
}

#top .services_contents {
  width: 75%;
  margin: 18vw auto 0 auto;
  padding: 8vw 0;
  text-align: center;
  background-image: url(../img/top_about_bgimage.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

#top .services_contents_text {
  font-size: 17px;
  font-size: 1.18056vw;
  font-weight: bold;
  letter-spacing: 0.25em;
  line-height: 2.3;
  margin: 3vw 0 6.4vw 0;
}

#top .services_contents_btn {
  font-size: 17px;
  font-size: 1.18056vw;
  letter-spacing: 0.25em;
  background-color: #fff579;
  border-radius: 20px;
  padding: 0.8vw 6vw;
  -webkit-box-shadow: 2px 5px 6px rgba(51, 51, 51, 0.4);
          box-shadow: 2px 5px 6px rgba(51, 51, 51, 0.4);
}

#top .services .outline {
  position: absolute;
  top: -9.6vw;
  right: -0.9vw;
  z-index: 10;
}

#top .services .circle:before {
  top: 4.2vw;
  right: 6.7vw;
}

#top .cases {
  width: 100%;
  height: 62vw;
  position: relative;
}

#top .cases .outline {
  position: absolute;
  right: -0.9vw;
}

#top .cases:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 27vw;
  background-color: #141f50;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -5;
}

#top .cases_contents {
  position: relative;
}

#top .cases_contents .h2_index {
  position: absolute;
  top: 4vw;
  left: 14vw;
}

#top .cases_contents .circle:before {
  position: absolute;
  top: -3vw;
  left: -9vw;
}

/*---------施工事例パネル----------*/
.cases_contents_wrap {
  position: absolute;
  top: 13vw;
  left: 9.6vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.cases_contents_panel {
  width: 100%;
  padding: 3.2vw;
}

.cases_contents_panel_img {
  width: 20.9vw;
}

.cases_contents_panel_client {
  background-color: #fff;
  width: 69%;
  padding: 1.5vw 1.5vw 1.5vw 1.5vw;
  position: relative;
  top: -2.3vw;
  left: 0.2vw;
}

.cases_contents_panel_client_adress, .cases_contents_panel_client_name {
  font-size: 14px;
  font-size: 0.97222vw;
  line-height: 1.8;
  letter-spacing: 0.1em;
}

.cases_contents_panel_client_name {
  line-height: 1.2;
}

.cases_contents_panel_more {
  display: inline-block;
  background-color: #fff579;
  border-radius: 1vw;
  padding: .8vw 3vw;
  font-size: 13px;
  font-size: 0.90278vw;
  letter-spacing: 0.1em;
  margin-top: 1.2vw;
}

.cases_contents_panel_1 .cases_contents_panel_client {
  left: 0.05vw;
}

.cases_contents_panel_2 {
  position: relative;
  top: 3.4vw;
}

.cases_contents_panel_3 {
  position: relative;
  top: 6.4vw;
}

/*==========================================
  事業内容ページ
==========================================*/
/*==========================================
  施工事例ページ
==========================================*/
/*==========================================
  会社概要ページ
==========================================*/
/*# sourceMappingURL=style.css.map */