@charset "UTF-8";
/* リセットCSS */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

article, header, footer, aside, figure, figcaption, nav, section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

/*==========================================
  共通
==========================================*/
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: #333;
  font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
}

/*----------ヘッダー------------*/
.header {
  width: 90%;
  margin: 0 auto;
  padding: 2vw 0 3vw 0;
}

.header_top p {
  font-size: 0.92vw;
  letter-spacing: 2px;
}

.header_bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0 7.2vw;
}

.header_bottom_logo {
  width: 17%;
}

/*----------ナビ------------*/
.nav .menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav .menu_list {
  padding-left: 3.4vw;
}

.nav .menu_list a {
  color: #333;
  font-size: 1.22vw;
  letter-spacing: 3px;
  font-weight: bold;
}

/*----------メインビジュアル------------*/
.mv {
  width: 100%;
  height: 44vw;
  margin-bottom: 10vw;
  position: relative;
}

.mv_img {
  width: 76%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.mv_back {
  width: 80vw;
  height: 33vw;
  background-color: #141f50;
  position: absolute;
  top: 5.8vw;
  left: 0;
  z-index: -1;
}

.mv:after {
  content: '';
  display: inline-block;
  background-image: url(../img/bg_navydot.png);
  background-size: 82%;
  position: absolute;
  bottom: 0;
  right: 5.5vw;
  width: 32vw;
  height: 18vw;
  z-index: -2;
}

/*----------見出し（中抜き）------------*/
.outline {
  display: inline-block;
  color: transparent;
  font-size: 14vw;
  font-weight: bold;
  -webkit-text-stroke: 1px #aaa;
}

/*----------丸（黄色）------------*/
.circle:before {
  content: '';
  display: inline-block;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: #fff579;
  position: absolute;
  z-index: -1;
}

/*---------h2見出し------------*/
.h2_index {
  color: #141f50;
  font-size: 3.1vw;
  font-weight: bold;
  letter-spacing: 10px;
}

.h2_index:after {
  content: '';
  margin: 3vw auto 0 auto;
  display: block;
  width: 11vw;
  height: 1px;
  background-color: #141f50;
}

/*---------h3見出し------------*/
.h3_index {
  color: #141f50;
  font-size: 1.6vw;
  font-weight: bold;
  letter-spacing: 10px;
}

.h3_index:after {
  content: '';
  margin: 2vw auto 0 auto;
  display: block;
  width: 6vw;
  height: 1px;
  background-color: #141f50;
}

/*==========================================
  トップページ
==========================================*/
#top {
  /*-----------キャッチコピー------------*/
  /*---------BeTwinについて----------*/
}

#top .mv_catchcopy {
  font-size: 3.1vw;
  color: #fff;
  font-weight: bold;
  position: absolute;
  letter-spacing: 8px;
  line-height: 1.6;
  top: 19.8vw;
  left: 9vw;
  z-index: 2;
}

#top .mv_catchcopy:before {
  content: '';
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50%;
  display: inline-block;
  background-color: #fff579;
  position: absolute;
  top: -1.2vw;
  left: -1.2vw;
}

#top .services {
  position: relative;
}

#top .services_contents {
  width: 75%;
  margin: 18vw auto 0 auto;
  padding: 8vw 0;
  text-align: center;
  background-image: url(../img/top_about_bgimage.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

#top .services_contents:before, #top .services_contents:after {
  content: '';
  display: inline-block;
  background-image: url(../img/bg_navydot.png);
  background-size: 100%;
  position: absolute;
  width: 26vw;
  height: 16vw;
  z-index: -2;
}

#top .services_contents:before {
  top: -5vw;
  left: -7vw;
  opacity: .1;
}

#top .services_contents:after {
  bottom: -5vw;
  right: -7vw;
}

#top .services_contents_text {
  font-size: 1.2vw;
  font-weight: bold;
  letter-spacing: 6px;
  line-height: 2.3;
  margin: 3vw 0 6.4vw 0;
}

#top .services_contents_btn {
  font-size: 1.2vw;
  letter-spacing: 4px;
  background-color: #fff579;
  border-radius: 20px;
  padding: 0.8vw 6vw;
  -webkit-box-shadow: 2px 5px 6px rgba(51, 51, 51, 0.4);
          box-shadow: 2px 5px 6px rgba(51, 51, 51, 0.4);
}

#top .services .outline {
  position: absolute;
  top: -9.6vw;
  right: -0.9vw;
  z-index: 10;
}

#top .services .circle:before {
  top: 4.2vw;
  right: 6.7vw;
}

/*==========================================
  事業内容ページ
==========================================*/
/*==========================================
  施工事例ページ
==========================================*/
/*==========================================
  会社概要ページ
==========================================*/
/*# sourceMappingURL=style.css.map */