@import "_reset";
@import "_variable";

/*==========================================
  共通
==========================================*/
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  color: $black-color;
  font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  overflow-x: hidden;
}
.wrapper {
  width: 100%;
}
a {
  color: $black-color;
  text-decoration: none;
  cursor: pointer;
}
img {
  width: 100%;
}
/*----------ヘッダー------------*/
.header {
  width: $contents-pc;
  margin: 0 auto;
  padding: 2vw 0 3vw 0;
  &_top {
    @include px768() {
      padding-top: 2vw;
    }
    p {
      @include fz_vw(15);
      letter-spacing: 0.1em;
      @include px1280() {
        font-size: 14px;
      }
      @include px768() {
        display: none;
      }
    }
  }
  &_bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 0 7.2vw;
    @include px1000() {
      padding: 0 3vw;
    }
    &_logo {
      width: 17%;
      @include px1366() {
        width: 20%;
      }
      @include px768() {
        width: 25%;
      }
    }
  }
}
/*----------ナビ------------*/
.nav {
  .menu {
    display: flex;
    &_list {
      padding-left: 3.4vw;
      a {
        color: $black-color;
        @include fz_vw(17);
        letter-spacing: 0.1em;
        font-weight: bold;
        @include px1366() {
          font-size: 16px;
        }
        @include px1000() {
          font-size: 14px;
        }
      }
    }
  }
}
/*----------メインビジュアル------------*/
.mv {
  width: 100%;
  height: 44vw;
  margin-bottom: 10vw;
  position: relative;
  @include px1000() {
    height: 48vw;
  }
  @include px768() {
    height: 500px;
    margin-bottom: 150px;
  }
  &_img {
    width: 76%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    @include px1000() {
      width: 85%;
    }
    @include px768() {
      img {
        width: 100%;
        height: 420px;
        object-fit: cover;
        object-position: 50% 100%;
      }
    }
  }
  &_back {  // 紺背景
    width: 80vw;
    height: 33vw;
    background-color: $naivy-color;
    position: absolute;
    top: 5.8vw;
    left: 0;
    z-index: -1;
    @include px1000() {
      height: 38vw;
    }
    @include px768() {
      height: 420px;
      top: 45px;
    }
  }
  &:after {  // ドット
    content: '';
    display: inline-block;
    background-image: url(../img/bg_navydot.png);
    background-size: 82%;
    position: absolute;
    bottom: 0;
    right: 5.5vw;
    width: 32vw;
    height: 18vw;
    z-index: -2;
    @include px1000() {
      width: 28vw;
      right: 10vw;
    }
    @include px768() {
      width: 180px;
      height: 138px;
      background-size: 120%;
    }
  }
  /*-----------キャッチコピー------------*/
  &_catchcopy {
    @include fz_vw(48);
    color: $white-color;
    font-weight: bold;
    position: absolute;
    letter-spacing: .07em;
    line-height: 1.6;
    top: 19.8vw;
    left: 9vw;
    z-index: 2;
    @include px1000() {
      @include fz_vw(58);
      top: 22vw;
    }
    @include px768() {
      font-size: 38px;
      top: 230px;
    }
    .cc_br {
      display: none;
      @include px768() {
        display: block;
      }
    }
    &:before {  //黄色の丸（小）
      content: '';
      width: 1.2vw;
      height: 1.2vw;
      border-radius: 50%;
      display: inline-block;
      background-color: $yellow-color;
      position: absolute;
      top: -1.2vw;
      left: -1.2vw;
      @include px768() {
        width: 12px;
        height: 12px;
      }
    }
  }
}
/*----------見出し（中抜き）------------*/
.outline {
  display: inline-block;
  color: transparent;
  @include fz_vw(202);
  font-weight: bold;
  -webkit-text-stroke: 1px #aaa;
  @include px768() {
    font-size: 110px; 
  }
  @include px540() {
    font-size: 78px;
  }
  @include px413() {
    font-size: 68px;
  }
}
/*----------丸（黄色）------------*/
.circle:before {
  content: '';
  display: inline-block;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: $yellow-color;
  position: absolute;
  z-index: -1;
  @include px768() {
    width: 26vw;
    height: 26vw;
  }
}
/*----------水玉の飾り------------*/
.dott {
  &:before, &:after {  // ドット
    content: '';
    display: inline-block;
    background-image: url(../img/bg_navydot.png);
    background-size: 100%;
    position: absolute;
    width: 26vw;
    height: 16vw;
    z-index: -1;
    @include px768() {
      width: 32vw;
    }
    @include px540() {
      width: 40vw;
    }
  }
  &:before {  // 左上のドット
    top: -5vw;
    left: -7vw;
    @include px540() {
      top: -7vw;
    }
  }
  &:after {  // 右下のドット
    bottom: -5vw;
    right: -7vw;
    @include px540() {
      bottom: -7vw;
    }
  }
}
/*---------h2見出し------------*/
.h2_index {
  color: $naivy-color;
  @include fz_vw(48);
  font-weight: bold;
  letter-spacing: 0.1em;
  display: inline-block;
  @include px1000() {
    @include fz_vw(60);
  }
  @include px768() {
    font-size: 32px;
  }
  @include px413() {
    font-size: 28px;
  }
  &:after {
    content: '';
    display: block;
    width: 11vw;
    height: 1px;
    background-color: $naivy-color;
    margin: 3vw auto 0 auto;
    @include px768() {
      margin-top: 23px;
    }
  }
}
/*---------h3見出し------------*/
.h3_index {
  color: $naivy-color;
  @include fz_vw(38);
  font-weight: bold;
  letter-spacing: 0.1em;
  display: inline-block;
  @include px1000() {
    @include fz_vw(46);
  }
  @include px768() {
    font-size: 28px;
  }
  &:after {
    content: '';
    display: block;
    width: 6vw;
    height: 1px;
    background-color: $naivy-color;
    margin: 1.8vw auto 0 auto;
    @include px768() {
      width: 70px;
      margin: 25px auto 0 auto;
    }
  }
}
/*---------h4見出し------------*/
.h4_index {
  color: $naivy-color;
  @include fz_vw(23);
  font-weight: bold;
  letter-spacing: 0.25em;
  @include px1000() {
    @include fz_vw(32);
  }
  @include px768() {
    font-size: 20px;
    margin-top: 23px;
  }
  &:after {
    content: '';
    margin: 2vw auto 0 auto;
    display: block;
    width: 6vw;
    height: 1px;
    background-color: $naivy-color;
    @include px768() {
      margin-top: 23px;
    }
  }
}
/*---------お問い合わせ----------*/
.contact {
  padding: 15vw 0;
  @include px768() {
    margin-top: 100px;
  }
  .dott {
    &:before {
      top: -3vw;
    }
    &:after {
      opacity: .1;
      bottom: -3vw;
    }
  }
  &_contents {
    width: 75%;
    margin: 0 auto;
    padding: 5vw 7vw 5vw 8vw;
    background-color: $gray-color;
    text-align: center;
    position: relative;
    @include px1000() {
      padding: 5vw 4vw 5vw 5vw;
    }
    @include px768() {
      padding: 3vw 4vw 3vw 5vw;
    }
    .h3_index {
      @include px768() {
        position: absolute;
        top: -80px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  &_wrap {
    margin-top: 5vw;
    display: flex;
    justify-content: space-between;
    @include px768() {
      flex-direction: column;
    }
    &_tel, &_fax {
      display: flex;
      align-items: center;
      @include px768() {
        width: 315px;
        margin: 0 auto 40px auto;
      }
      img {
        width: 4.5vw;
        height: 4.5vw;
        margin-right: 1.8vw;
        @include px768() {
          width: 50px;
          height: 50px;
        }
      }
      &_index {
        @include fz_vw(18);
        font-weight: bold;
        letter-spacing: .15em;
        margin-bottom: 1vw;
        @include px1440() {
          font-size: 18px;
        }
        @include px1280() {
          font-size: 14px;
        }
        @include px768() {
          font-size: 16px;
        }
      }
      &_num {
        @include fz_vw(34);
        font-weight: bold;
        letter-spacing: .1em;
        @include px1000() {
          @include fz_vw(42);
        }
        @include px768() {
          font-size: 32px;
        }
      }
    }
  }
}
/*---------フッター----------*/
.footer {
  width: 100%;
  text-align: center;
  padding-bottom: 2vw;
  &_logo {
    width: 17%;
    margin: 0 auto 3vw auto;
  }
  &_fb {
    width: 3.3%;
    margin: 0 auto 3vw auto;
  }
  &_copyright {
    @include fz_vw(18);
    @include px1440() {
      font-size: 18px;
    }
  }
}

/*==========================================
  トップページ
==========================================*/
#top {
  /*---------BeTwinについて----------*/
  .services {
    position: relative;
    width: 100%;
    height: 62vw;  
    margin-bottom: 10vw;
    @include px1000() {
      height: 67vw;
    }
    @include px768() {
      height: 700px;
      margin-bottom: 72px;
    }
    .dott {
      &:before {
        opacity: .1;
      }
    }
    &_contents {
      width: 75%;
      margin: 18vw auto 0 auto;
      padding: 8vw 0;
      text-align: center;
      background-image: url(../img/top_about_bgimage.png);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 100%;
      position: relative;
      @include px1280() {
        width: 768px;
      }
      @include px768() {
        width: 100%;
        height: 660px;
        padding: 100px 0;
        background-size: cover;
      }
      @include px540() {
        height: 640px;
      }
      &_text {
        @include fz_vw(17);
        font-weight: bold;
        letter-spacing: 0.25em;
        line-height: 2.3;
        margin: 3vw 0 6.4vw 0;
        @include px1366() {
          font-size: 16px;
        }
        @include px1280() {
          margin: 2vw 0 4.5vw 0;
        }
        @include px768() {
          margin: 15px 0 60px 0;
          &:nth-of-type(2) {
            margin: 15px 0 40px 0;
          }
        }
        @include px540() {
          font-size: 14px;
          letter-spacing: 0.2em;
        }
        @include px340() {
          letter-spacing: 0.1em;
        }
        .sc_br {
          display: none;
          @include px768() {
            display: block;
          }
        }
      }
      &_btn {
        @include fz_vw(17);
        letter-spacing: 0.15em;
        background-color: $yellow-color;
        border-radius: 15px;
        padding: 1vw 6vw;
        box-shadow: 2px 5px 6px rgba(51,51,51,0.4);
        @include px1366() {
          font-size: 16px;
        }
        @include px1000() {
          border-radius: 30px;
          padding: 10px 60px;
        }
        @include px540() {
          font-size: 14px;
        }
      }
    }
    .outline {
      position: absolute;
      top: -9.6vw;
      right: -0.9vw;
      z-index: 10;
      @include px768() {
        top: -75px;
      }
      @include px540() {
        top: -13vw;
      }
      @include px413() {
        top: -45px;
      }
    }
    .circle:before {
      top: 4.2vw;
      right: 6.7vw;
      @include px768() {
        top: 30px;
      }
      @include px540() {
        top: 6vw;
        right: 3vw;
      }
    }
  }
  /*---------施工事例----------*/
  .cases {
    width: 100%;
    height: 62vw;
    position: relative;
    @include px1000() {
      height: 71vw;
    }
    @include px768() {
      height: 1720px;
    }
    @include px413() {
      height: 1560px;
    }
    .outline {
      position: absolute;
      right: -0.9vw;
      @include px768() {
        top: 45px;
      }
      @include px540() {
        top: 45px;
      }
      @include px413() {
        top: 56px;
      }
    }
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 29vw;
      background-color: $naivy-color;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -5;
      @include px1000() {
        height: 37vw;
      }
      @include px768() {
        width: 61vw;
        right: 0;
        height: 1498px;
      }
      @include px540() {
        width: 70vw;
      }
      @include px413() {
        height: 1380px;
      }
    }
    &_contents {
      position: relative;
      .h2_index {
        position: absolute;
        top: 4vw;
        left: 14vw;
        @include px413() {
          top: 7vw;
          left: 10vw;
        }
      }
      .circle:before {
        position: absolute;
        top: -3vw;
        left: -9vw;
        @include px540() {
          top: -6vw;
          left: -5vw;
        }
      }
    }
  }
}
/*---------施工事例パネル----------*/
.cases_contents {
  &_wrap {
    padding: 16vw 9.2vw 0 9.2vw;
    display: flex;
    @include px1000() {
      padding: 16vw 7vw 0 7vw;
    }
    @include px768() {
      padding: 148px 0 0 0;
      flex-direction: column;
    }
    @include px540() {
      padding: 118px 0 0 0;
    }
  }
  &_panel {
    width: calc(100vw/3);
    padding: 0 3vw;
    @include px768() {
      width: 307px;
      margin: 0 auto 30px auto;
      padding: 0;
    }
    @include px413() {
      width: 260px;
    }
    &_img {
      width: 100%;
      margin: 0 auto 40px auto;
    }
    &_client {
      background-color: $white-color;
      width: 69%;
      height: 6vw;
      padding: 1.5vw;
      position: relative;
      top: -5vw;
      left: 0.2vw;
      @include px1440() {
        height: 86px;
      }
      @include px1366() {
        width: 75%;
        top: -60px;
      }
      @include px1000() {
        width: 80%;
        padding: 1.7vw 1.3vw;
      }
      @include px768() {
        width: 69%;
        top: -65px;
        padding: 17px 10px;
        box-shadow: 0 2px 4px #999;
      }
      @include px540() {
        height: 95px;
        padding: 25px 20px;
      }
      &_adress, &_name {
        @include fz_vw(14);
        width: 100%;
        line-height: 1.8;
        letter-spacing: 0.1em;
        @include px1440() {
          font-size: 14px;
        }
      }
      &_name {
        line-height: 1.2;
      }
    }
    &_more {
      display: inline-block;
      background-color: $yellow-color;
      border-radius: 1vw;
      padding: .8vw 3vw;
      position: relative;
      top: -3vw;
      @include fz_vw(13);
      letter-spacing: 0.1em;
      margin-top: 1.2vw;
      @include px1440() {
        font-size: 13px;
        padding: 11px 43px;
        border-radius: 14px;
      }
      @include px768() {
        position: relative;
        top: -40px;
        box-shadow: 0 2px 4px #999;
      }
    }
  }
  &_panel_1 {
    .cases_contents_panel_client {
      left: 0.05vw;
    }
  }
  &_panel_2 {
    position: relative;
    top: 3.4vw;
    @include px768() {
      position: static;
    }
    .cases_contents_panel_client {
      left: 0.05vw; 
      padding: 1vw 1.5vw;
      @include px768() {
        padding: 10px;
      }
      @include px540() {
        padding: 17px 20px;
      }
    }
  }
  &_panel_3 {
    position: relative;
    top: 6.4vw;
    @include px768() {
      position: static;
    }
    .cases_contents_panel_client {
      left: 0.05vw;
    }
  } 
}
 
/*==========================================
  事業内容ページ
==========================================*/

/*==========================================
  施工事例ページ
==========================================*/

/*==========================================
  会社概要ページ
==========================================*/

